/* .botao {
  padding: var(--padding-s);
  font-family: var(--fonte-texto);
  font-size: var(--font-size-s);
  border: none;
  border-radius: 8px;
  cursor: pointer;
} */

.botao {
  padding: var(--padding-s) var(--padding-m);
  font-size: var(--font-size-s);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s;
}

.botao:hover {
  transform: scale(1.05);
}

.default {
  color: var(--branco);
  background-color: var(--cinza-escuro);
}

.icon {
  background: none;
  font-size: var(--font-size-l);
  border: none;
  padding: 0.5rem;
  color: #333;
}