/* .navegacao {
  display: flex;
  gap: var(--gap-xl);
  font-family: var(--fonte-texto);
  font-size: var(--font-size-m);
  font-weight: 400;
} */
 .navegacao {
  display: flex;
  gap: var(--gap-xl);
  font-family: var(--fonte-texto);
  font-size: var(--font-size-m);
  font-weight: 400;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 0;
 }
 .navegacao li {
  list-style: none;
}

.navegacao li a {
  display: block;
  padding: var(--padding-xs) var(--padding-s);
  transition: transform 0.2s;
}

.navegacao li a:hover {
  transform: scale(1.05);
}
/* 

.navegacao {
  list-style: none;
  padding-left: 0;
}

.navegacao li {
  list-style: none;
}

.navegacao li a {
  display: block;
} */